<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<header sec:authorize="isAuthenticated()" th:fragment="header" style="display: flex; justify-content: flex-end ">
    <nav>
        <h3 style="margin-right: 50px">
            <a href="/logout">Logout</a>
        </h3>
    </nav>
</header>
<h1>Welcome to Spring boot application!</h1>


</body>
</html>